body {
  margin: 0;
}

.container-1 {
  background-image: url(/assets/site/mapblue.jpg);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  width: 80vw;
}


.container-2 {
  background: #555;
  position: relative;
  text-align: center;
  width: 20vw;
}


.mainTable {
  display: flex;
}



.mainGot-font {
    color: cornsilk;
    font-family: got, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@font-face {
  font-family: got;
  src: url(/fonts/got.ttf);
}   

#gotFont {
   padding: 20px;
   font-family: got;
   font-size: 18px;
   color: #fff;
}
.personsPhoto {
    justify-content: space-around;
    margin: 10px;
    border-radius: 50%;
    cursor:pointer;
}


.persons {
    text-align: center;
    flex: 0 0 12.5%;
    margin-bottom: 14px;
}


body {
    margin: 0;
}

.personsDetailName {
    color: cornsilk;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
}


.personsHousePhoto {
    text-align: right;
}

.bio {
    color: cornsilk;
    padding-top: 10px;
    font-size: 20px;
}

.details {
    flex-grow: 1;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#search {
    height: 30px;
    width: 200px;
    margin: 20px;
    margin-left: 100px;
    border-radius: 5px;
}

#button {
    height: 35px;
    width: 30px;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: -55px;
    border-radius: 5px;
    cursor:pointer;
}

.personsDetailPhoto {
    border: 2px solid cornsilk;
    border-radius: 5px;
    max-width: 350px;
}